<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Basic</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
</head>
<body>
    <!--Vue 인스턴스 생성-->
    <div id="app">
        <!-- v-if, v-else, v-show 예시-->
        <div v-if="show">
            Yes
        </div>
        <div v-else>
            No
        </div>
        <div>
            <button @click="changeIfShow()"> change if-show </button>
        </div>

        <!--여러개를 묶어서 컨트롤한다.-->
        <template v-if="showTemplete">
            <div> 1 </div>
            <div> 2 </div>
            <div> 3 </div>
        </template>
        
        <div v-else>
            No
        </div>
        <div>
            <button @click="changeShowTemplete()"> change templete show </button>
        </div>
        <!--v-if: 토글 비용이 높다 : 런타임시 조건이 잘 안 바뀌는 경우 사용
        v-show: 초기 렌더링 비용이 높다. : 매우 자주 바뀌어야 할때 사용-->
        <div v-show="show">
            Yes
        </div>
        <div>
            <button @click="changeIfShow()"> change if-show </button>
        </div>

    </div>

    

    <script>
        new Vue({
            el: "#app", // 이렇게 하면 id=app인 곳에는 Vue를 사용할 수 있게 된다.
            data: {     // 변수 선언
                show: true,
                showTemplete: true,
            },
            methods:{    // 함수 정의
                changeIfShow(){
                    this.show = !this.show;
                },

                changeShowTemplete(){
                    this.showTemplete = !this.showTemplete;
                },
            },
        });

    </script>
</body>
</html>